.clearfix:before, .clearfix:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  overflow: hidden;

}
.clearfix:after { clear: both;  }
.clearfix { zoom: 1;  }

body {
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'Bitter';
  margin: 0 auto;
  color: #333;
  padding: 0 1em;
  border-top: 0.25em solid #922014;
  background-color: #FCF8F1;
  background-position: top center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}

#content h1:not(:first-child),
#content h2:not(:first-child),
#content h3:not(:first-child),
#content h4:not(:first-child),
#content h5:not(:first-child),
#content h6:not(:first-child) {
  clear: both;
  margin-top: 1.5em;
}

#content h1 a,
#content h2 a,
#content h3 a,
#content h4 a,
#content h5 a,
#content h6 a {
  text-decoration: none;
  color: #333
}

dl {
	float: left;
	margin: 0 0 18px 0;
	padding: 0;
}
	
dt {
	clear: left;
	float: left;
	margin: 0;
	padding-right: 0.2em;
	font-weight: bold;
  width: 13em;
  line-height: 1em;
}
	
dd {
	float: left;
	margin: 0;
  line-height: 1.5em;
}

body > * {
  max-width: 700px;
  margin: 0 auto;
  clear: both;
}

header hgroup {
  float: left;
  width: 14em;
}

header nav {
  margin-bottom: 3em;
}

header nav ul {
  list-style: none;
  margin: 0;
  text-align: right;
}

header nav li {
  display: inline-block;
  margin-left: 1em;
}

header nav li a {
  display: inline-block;
  padding-top: 2.1em;
  font-family: 'Lato';
  font-size: 0.86em;
  text-decoration: none;
}

body > header {
  margin-top: 1em;
}

body > header a {
  color: #333;
}

body > header a:hover {
  color: #922014;
}

body > header h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1em;
}

body > header h2 {
  color: #922014;
  font-family: 'Bitter';
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

#head {
  float: left;
  padding: 0.5em 0.5em 0 0;
  height: 3em;
  margin: 0
}

/* prevent jumping when image is loaded */
body > header h1,
body > header h2 {
  margin-left: 3.7rem;
}

a {
  text-decoration: none;
  color: #136592;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: 'Source Code Pro';
  font-size: 0.85em;
  line-height: 1em;
  /* border: 1px solid rgba(0,0,0,0.15); */
  border-radius: 0.2em;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0.15);
  padding: 0 0.3em 0.1em;
  vertical-align: center;
}

code * {
  font-weight: normal !important;
}

pre code {
  border: none;
  padding: 0;
  margin: 0;
}

pre {
  overflow: scroll;
  padding: 0.25em 0.5em 0.5em;
  font-family: 'Source Code Pro';
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}

.highlight {
  border-radius: 0.3em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid rgb(197, 197, 197);
}

footer {
  margin-top: 3em;
  font-family: 'Lato';
  font-size: 0.75em;
  text-align: center;
}

p.meta {
  margin: 0;
  margin-top: -1.5em;
  font-family: 'Lato';
  font-size: 0.75em;
}

img {
  display: block;
  max-width: 100%;
  margin: 0.5em auto;
}

a.preview-image {
  overflow: hidden;
  height: 12em;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 10px 15px -10px rgba(255,255,255,0.75);
}

.tag {
  display: inline-block;
  background: #79AED6;
  line-height: 1.5em;
  padding: 0 0.25em;
  border-radius: 0.3em;
  font-size: 0.75rem;
  color: white;
  text-shadow: -1px -1px rgba(0,0,0,0.4);
}

.tags {
  float: right;
}

.preview-image,
.project .content {
  clear: both;
}


#comments {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* smartphones */
@media screen and (max-width: 520px) {
  header nav {
    clear: both;
    margin-bottom: 1em;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header nav li {
    margin: 0;
    margin-top: 1em;
  }
  header nav li a {
    margin: 0;
    padding: 0;
    padding: 0.5em 1em;
    margin: 0 0.2em;
    background: rgba(255,255,255,0.8);
    border-radius: 0.3em;
    font-weight: bold;
  }

  dt {
    display: block;
    float: none;
  }

  dd {
    display: block;
    margin-bottom: 1em;
  }

  a.preview-image {
    display: inline;
    border: none;
    box-shadow: none;
  }

  .tags {
    float: none;
    display: block;
    padding-left: 0;
  }
}
