---
layout: default
title: Projects
---

Here are some of the projects that I have been working on in the past. The list includes
client work, university projects and open source projects that I have started. The tags 
to the right denote which part of the projects I have contributed to.

{% for project in site.categories.projects %}
  <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
  <p class="meta">
    {{ project.date | date: "%b %Y" }}
    <span class="tags">
    {% for tag in project.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
    </span>
  </p>
  <a href="{{ project.url }}" class="preview-image"><img src="/assets/{{ project.preview-image }}" /></a>
  <p>
    {{ project.content | strip_html | truncatewords:50 }}
    <a href="{{ project.url }}">Read more »</a>
  </p>
{% endfor %}
